/* Splash page stylings */
.splash-page {
  background:url(/img/splash-bkg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.splash-page .card {
  margin-top:40px;
}

.splash-page .logo h1 {
  margin-top:30px;
  text-align:center;
  color:#fff !important;
  font-family: Verdana, Geneva, sans-serif;
  font-weight:bold;
  letter-spacing: -3px;
  font-size:42px;
}

.splash-page .signup-opt {
  color:#fff;
  padding:15px;
  margin-top:20px;
  font-weight: bold;
  cursor:pointer;
}

.splash-page .action-button {
  font-weight: bolder;
}

/* Discover page stylings */
.discover-page {

}

.nav-bar-container .bar-header {
  background-color: #D10A7B;
  border-color: none;
  color: #fff;
}

.nav-bar-container .back-button{
  color: #fff;
}

.discover-page .current-song {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;

  -webkit-transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.1s;
  transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.1s;
}

.discover-page .current-song .item-image {
  max-height:300px;
  overflow:hidden;
}

@media screen and (max-height: 600px) {
  .discover-page .current-song .item-image {
    max-height:200px;
    overflow:hidden;
  }
}

.discover-page .current-song.favorited.ng-hide {
  -webkit-transform: translateX(1000px) rotate(50deg);
  -ms-transform: translateX(1000px) rotate(50deg);
  transform: translateX(1000px) rotate(50deg);
  opacity:0;
}

.discover-page .current-song.skipped.ng-hide {
  -webkit-transform: translateX(-1000px) rotate(-50deg);
  -ms-transform: translateX(-1000px) rotate(-50deg);
  transform: translateX(-1000px) rotate(-50deg);
  opacity:0;
}

.discover-page .current-song.ng-hide-add {
  -webkit-transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.3s;
  transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.3s;
  display:block!important;
}

.discover-page .current-song.ng-hide-remove {
  -webkit-transform: scale(0.7) translateX(0px) rotate(0deg);
  -ms-transform: scale(0.7) translateX(0px) rotate(0deg);
  transform: scale(0.7) translateX(0px) rotate(0deg);
  opacity: 0;
}


.discover-page .img-lookahead img {
  height:1px;
  width:1px;
  opacity:0.01;
}

.otp-info{
  text-align: center;
  color: #e3e3e3;
  font-size: 15px;
}


.layout-generic-input-number{
  margin: 15px;
  padding: 5px;
}

.right-margin-social-icons{
  margin-right: 20px;
}

.social-icons{
  margin-top: 10px;
}
.custom-dark-red{
    color : #FFFFFF !important; // text
    background-color: #30393A !important; // for bg color
 }
 .proceed-button{
   color: #D10A7B;
   text-transform: uppercase;
   font-weight: bold;
 }

 /*
  css for OTP verification page
*/
.otp-img{
  margin-top: 100px;
  align-content: center;
}

.enter-otp-text{
  padding-top: 10px;
  font-size: 25px;
  font-weight: bolder;
}

.otp-info-text{
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: #e3e3e3;
  text-transform: uppercase;
}

.otp-number-text{
  font-size: 20px;
  color: #000;
  padding-top: 20px;
  text-align: center;
}
/*
 css for Profile verification page
*/
.profile-title{
  text-align:center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  padding-top: 50px;
}

.waiting-title{
  text-align:center;
  font-weight: bold;
  font-size: 21px;
  padding-top: 50px;
}



/*Popup's classes
.popup-head
.popup-title
.popup-body
.popup-buttons
*/


.edit-name .popup-head{
  background-color: white  !important;
}
.edit-name .popup-title {
  background-color: white !important;
}

.edit-name .popup-body{
  align-items: center;
  align-content: center;
  background-color: white !important;
  color:#fff !important;
  font-size:24px !important;
}

.edit-name .popup-buttons {
  background-color: #e3e3e3;
}


.popup-img{
  padding-bottom: 10px;
  height: 150px;
  width: 150px;
}
