
	<ion-view>
		<ion-content>
			<h3 class="profile-title">Select your Bank</h3>
			<p align="center" style="color:grey">VERIFY YOUR SALARY ACCOUNT <br>FOR INSTANT LOAN SANCTION</p>
			<div class="row">
 				<div align="center" class="col" style="border:1pt solid grey;">
 				<input ng-model="sbi"style="position:relative;bottom:32px"id="sbi"type="radio" name="radAnswer" value="" ng-change="showPopup()">
					<label for="sbi"><img style="height:80px;width:100px"src="./img/sbi_logo.png"></label>
 				</div>
 				<div align="center"class="col" style="border:1pt solid grey;">
 				<input ng-model="standard_chartered"id="standard"style="position:relative;bottom:32px"type="radio" name="radAnswer" value="" ng-change="showPopup()"><label for="standard"><img style="height:70px;width:140px"src="./img/standard_chartered.jpg"></label>
 				</div>
 			</div>
 			<div class="row">
 				<div align="center"class="col" style="border:1pt solid grey;">
 				<input ng-model="hsbc"id="hsbc"style="position:relative;bottom:32px"type="radio" name="radAnswer" value="" ng-change="showPopup()"><label for="hsbc"><img style="height:80px;width:100px"src="./img/hsbc.png"></label>
 				</div>
 				<div align="center"class="col" style="border:1pt solid grey;">
 				<input ng-model="icici"id="icici"style="position:relative;bottom:32px"type="radio" name="radAnswer" value="" ng-change="showPopup()"><label for="icici"><img style="height:70px;width:100px"src="./img/icici.jpg"></label>
 				</div>
 			</div>
 			<div class="row">
 				<div align="center"class="col" style="border:1pt solid grey;" >
 				<input ng-model="hdfc"id="hdfc"style="position:relative;bottom:32px"type="radio" name="radAnswer" value="" ng-change="showPopup()"><label for="hdfc"><img style="height:80px;width:140px"src="./img/hdfc.jpg"></label>
 				</div>
 				<div align="center"class="col" style="border:1pt solid grey;">
 				<input ng-model="kotak"id="kotak"style="position:relative;bottom:32px"type="radio" name="radAnswer" value="" ng-change="showPopup()"><label for="kotak"><img style="height:70px;width:140px"src="./img/kotak.png"></label>
 				</div>
 			</div>
			<select ng-model="other"style="margin-top:17px;margin-left:20px;width:93%;height:25px"ng-change="showPopup()">
					<option value="" disabled selected>Other Banks</option>
				  <option value="pnb">PNB</option>
				  <option value="rbi">RBI</option>
			</select>

		</ion-content>
	</ion-view>
