
<ion-view title="APPLY NOW" class="discover-page">

  <ion-content scroll="false" class="has-header">

    <div align="center">
      <img ng-src="./img/instant_image.jpg">
    </div>
    <div align="center">
      <img ng-src="./img/cell_image.png">
      <strong> Login your mobile number</strong>
      </div>
    <div align="center" class="otp-info">We will be sending u an OTP to authorize</div>
      <label class="item item-input layout-generic-input-number" >
          <input type="tel" ng-model="number" pattern="[0-9]{10}" maxlength="10">
      </label>
      <div align="center"> <font color="red"><strong>or</strong></font> </div>
      <div align="center" class="social-icons">
        <img class="right-margin-social-icons" ng-src="./img/fb_icon_image.png" ng-click="login()">
        <img class="right-margin-social-icons" ng-src="./img/google_icon_image.png">
        <img ng-src="./img/linkedin_icon_image.png">
      </div>
      <div align="center"><input type="checkbox" name="terms" ng-model="checked"> I agree to the terms and conditions of axis bank</div>
      <div align="center" class="layout-generic-input-number">
          <button class="button button-block button-stable"  ng-click="(!checked || !number)?showAlert(number):go('/otp',number)">
              <font color="#D10A7B">TAP TO PROCEED</font>
          </button>
      </div>
  </ion-content>
</ion-view>
