<ion-view class="favorites-page">
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar">
        <img ng-src="./img/ionic.png">
        <h2>I keep it realtime yo</h2>
        <p>James Tamplin</p>
      </ion-item>
      <ion-item class="item-avatar">
        <img ng-src="./img/ionic.png">
        <h2>99 compiler errors</h2>
        <p>Jake Hanford</p>
      </ion-item>
      <ion-item class="item-avatar">
        <img ng-src="./img/ionic.png">
        <h2>So many stacks they overflowin'</h2>
        <p>Brian Gallagher</p>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
