<ion-view>
    <ion-content scroll="false">
        <div align="center" class="otp-img">
          <img ng-src="./img/cellphone_image.png">
        </div>
        <div align="center" class="enter-otp-text">
        <strong>ENTER OTP</strong>
        </div>
        <label class="item item-input layout-generic-input-number" >
            <input type="tel" ng-model="otp">
        </label>
        <div class="otp-info-text">
          Your one time password(OTP) has been sent to this number
        </div>
        <div class="otp-number-text">
          {{userService.getNumber()}}
        </div>
        <div align="center" class="layout-generic-input-number">
            <button class="button button-block button-stable" ng-click="go('/profile')" ng-disabled="!otp">
                <font color="#D10A7B">TAP TO PROCEED</font>
            </button>
        </div>
    </ion-content>
</ion-view>
