<ion-view>
  <ion-content>
    <div>
      <h3 class="profile-title">CONFIRM YOUR PROFILE</h3>
    </div>
    <ion-list>
      <ion-item class="item-avatar">
        <img ng-src="{{user.face}}">
        <img align="right" src="./img/Pencil_edit_button_24.png" ng-click="showPopup()">
        <p>Name</p>
        <h2>{{user.name}}</h2>
      </ion-item>
      <ion-item class="item-avatar">
        <img ng-src="./img/Birthday_cake.png">
        <img align="right"src="./img/Pencil_edit_button_24.png">
        <p>You were born on</p>
        <h2>{{user.dob}}</h2>
      </ion-item>
      <ion-item class="item-avatar">
        <img ng-src="./img/ionic.png">
        <img align="right"src="./img/Pencil_edit_button_24.png">
        <p>You pan number is </p>
        <h2>{{user.pan}}</h2>
      </ion-item>
      <ion-item class="item-avatar">
        <img ng-src="./img/ionic.png">
        <img align="right"src="./img/Pencil_edit_button_24.png">
        <p>You gross income</p>
        <h2>{{user.income}}</h2>
      </ion-item>
    </ion-list>
    <br/>
    <div align="center"><input type="checkbox" name="vehicle" ng-model="checked"> I agree to the terms and conditions of axis bank</div>
    <div align="center" class="layout-generic-input-number">
      <button class="button button-block button-stable" ng-click="go('/bank')" ng-disabled="!checked">
        <font color="#D10A7B">TAP TO PROCEED</font>
      </button>
    </div>
  </ion-content>
</ion-view>
