<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-view view-title="APPLY NOW">
	<ion-tabs class="tabs-color-active-positive tabs-color-dark">

	  <!-- Discover Tab -->
	  <ion-tab title="Salaried" href="#/tab/discover">
	  	<!-- <ion-nav-bar class="bar-positive" ng-style="{'background-color': '#D10A7B'}">
	      <ion-nav-back-button>
	      </ion-nav-back-button>
	    </ion-nav-bar> -->
	    <ion-nav-view name="tab-discover"></ion-nav-view>
	  </ion-tab>

	  <!-- Favorites Tab -->
	  <ion-tab title="Others" href="#/tab/favorites">
	    <ion-nav-view name="tab-favorites"></ion-nav-view>
	  </ion-tab>

	</ion-tabs>
</ion-view>
