	<ion-view view-title="APPLY NOW">
	  <ion-content>
	  <h3 class="waiting-title" style="padding-top:70px">Please Wait</h3>
	  <p align="center" style="color:grey">While we fetch your information</p>
			<div align="center"><img style="margin:0 auto;"src="./img/waiting.png"></div>
			<p align="center" style="color:grey">Your Mobile Number</p>
			<p align="center">{{user.getName()}}</p>
	  </ion-content>
	</ion-view>
